@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    @apply bg-gray-50 text-gray-700;
}

.chatbox {
    @apply h-60 max-h-60 overflow-y-auto mt-4 border rounded-md p-3;
}

.chatbox p {
    @apply mb-2 text-sm text-gray-700
}

.chatbox p:last-of-type {
    @apply mb-0
}

/* Custom Scrollbar */
.chatbox::-webkit-scrollbar {
    width: 6px;
    /* Set the width of the scrollbar */
}

.chatbox::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Set the background of the scrollbar track */
}

.chatbox::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar thumb */
    border-radius: 10px;
    /* Add rounded corners to the scrollbar thumb */
}

.chatbox::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Set the color of the scrollbar thumb on hover */
}